.navbar {
  height: 80px;
  background-color: transparent;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0 0.125rem 1.75rem rgb(0, 0, 0, 0.09);
  transition: all .15s ease-in-out 0s;
}


@media (max-width: 991.98px) {
  .navbar {
    height: auto;
  }
}



.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: none;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.navbar-dark {
  background-color: #101701 !important;
  /* background-color: rgba(0, 0, 0, 0.8) !important; */
  color: #ffffff !important;
}

.navbar-collapse,
.navbar-nav,
.nav-item {
  color: inherit !important;
}

.icon-color {
  color: white;

}

.navbar-toggler {
  transition: all ease 0.3s;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  color: rgb(134 195 5);
}

.dropdown-menu .dropdown-item:hover {
  color: #86C305;

}

.collapse ul li a {
  color: white;
}

.collapse ul li .nav-link:hover,
.collapse ul li .nav-link:focus,
.collapse ul li .nav-link:active {
  color: rgb(134 195 5);
}

.dropdown-menu {
  background-color: #101701 !important;

}

.dropdown-menu .dropdown-item:hover {
  background-color: #86C305;
  color: #ffffff;
}

#url-id:hover {
  color: #86C305 !important;
}
.custom-confirm-button-class {
  background-color: #86C305 !important;
}
